@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #27272a;
  --card: #fafafa;
  --card-foreground: #27272a;
  --popover: #ffffff;
  --popover-foreground: #27272a;
  --primary: #00bba7;
  --primary-foreground: #fafafa;
  --secondary: #f4f4f5;
  --secondary-foreground: #3f3f46;
  --muted: #f4f4f5;
  --muted-foreground: #65656f;
  --accent: #cbfbf1;
  --accent-foreground: #27272a;
  --destructive: #fb2c36;
  --destructive-foreground: #ffffff;
  --border: #d4d4d8;
  --input: #d4d4d8;
  --ring: #00bba7;
  --chart-1: #00bba7;
  --chart-2: #0084d1;
  --chart-3: #f6339a;
  --chart-4: #fe9a00;
  --chart-5: #ffb86a;
  --sidebar: #fafafa;
  --sidebar-foreground: #27272a;
  --sidebar-primary: #00bba7;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e4e4e7;
  --sidebar-accent-foreground: #27272a;
  --sidebar-border: #9f9fa9;
  --sidebar-ring: #00bba7;
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: #18181b;
  --foreground: #f0fdfa;
  --card: #27272a;
  --card-foreground: #f0fdfa;
  --popover: #2f3436;
  --popover-foreground: #e5e5e5;
  --primary: #00bba7;
  --primary-foreground: #f0fdfa;
  --secondary: #3f3f46;
  --secondary-foreground: #f0fdfa;
  --muted: #27272a;
  --muted-foreground: #9f9fa9;
  --accent: #003734;
  --accent-foreground: #f0fdfa;
  --destructive: #fb2c36;
  --destructive-foreground: #fafafa;
  --border: #3f3f46;
  --input: #27272a;
  --ring: #009689;
  --chart-1: #009689;
  --chart-2: #1d49a0;
  --chart-3: #f1a515;
  --chart-4: #f17515;
  --chart-5: #fcddbc;
  --sidebar: #131316;
  --sidebar-foreground: #9f9fa9;
  --sidebar-primary: #009689;
  --sidebar-primary-foreground: #f0fdfa;
  --sidebar-accent: #18181b;
  --sidebar-accent-foreground: #f0fdfa;
  --sidebar-border: #27272a;
  --sidebar-ring: #009689;
  --font-sans: Inter, sans-serif;
  --font-serif: Merriweather, serif;
  --font-mono: Geist Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
