# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
*-venv/
env/
venv/
ENV/
.Python

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# PyCharm
.idea/

# VS Code
.vscode/

# macOS
.DS_Store

# environment variables
.env

# System files
chatbot-agent-engine/
ai-agent-engine/
dinov2-research-engine/data/
dinov2-research-engine/qdrant_storage/
dinov2-research-engine/models/
dinov2-research-engine/logs/checkpoints
two-stage-detection-engine/mobilenet_v2_1.0_224-plant-disease-identification_onnx